{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="bg-light rounded shadow py-5 px-4">
        <form id="login-form" class="form" action="" method="post">
          {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          <h3 class="text-center text-info mb-4">GSB MedSell</h3>
          <div class="form-group">
            <label for="username" class="text-info">Identifiant:</label><br>
            <input type="text" value="{{ last_username }}" name="username" id="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" class="text-info">Mot de passe:</label><br>
            <input type="password" name="passwd" id="passwd" class="form-control">
          </div>
          <div class="form-group">
            <label for="remember-me" class="text-info"><span>Se souvenir de moi</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
            <input type="hidden" name="_csrf_token"
              value="{{ csrf_token('authenticate') }}"
            >
            <input type="submit" name="submit" class="btn btn-info btn-md btn-block" value="Connexion">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}