<form method="post" action="{{ path('app_products_delete', {'id_prod': product.id_prod}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id_prod) }}">
    <button class="btn">Delete</button>
</form>
